#nav {
	background-color: #fcf8e8;
	color: #797a7e;
}
body {
	font-family: "Lato", sans-serif;
	transition: 0.3s;
}
@media (min-width: 700px) {
	.image-profile {
		margin-left: 13vh;
		border-radius: 50%;
		object-fit: cover;
		max-width: 50px;
		min-height: 50px;
	}
}
#footerLetters {
	color: #e0ece4;
}
#border {
	border: 2px solid #e0ece4;
	border-radius: 10px 20px 20px 5px;
	box-shadow: 0.1em 0.1em 15px 0.0025px #e0ece4;
}
#buttonshados {
	box-shadow: 0.1em 0.1em 5px 0.0025px #e0ece4;
}
.buttonsphotos {
	box-shadow: 0.1em 0.1em 15px 1px #111111;
}
.buttonsaboutme {
	box-shadow: 0.1em 0.1em 5px 0.0025px #e0ece4;
}

ul {
	margin-right: 13vh;
}
#imageProfilContainer {
	padding-right: 5px;
	border-right: 2px solid #e0ece4;
}
.headerTitle {
	margin-left: 5px;
	max-height: 60px;
}
.headerTitle h4 {
	max-height: 30px;
	margin-bottom: 0px;
	font-size: 30px;
}
.headerTitle h5 {
	max-height: 15px;
	font-size: 15px;
}

#imagesFront {
	min-height: 80vh;
}

.contenedor {
	position: absolute;
	max-width: max-content;
	left: 10%;
	margin-top: 27%;
	margin-bottom: 0;
}

.contenedor h1 {
	margin: 0;
	color: #e0ece4;
}

.video {
	box-shadow: 1em 2em 5em 0.7em #111111;
	margin-top: 5%;
	border-radius: 50%;
	object-fit: cover;
	border: 1px solid ivory;
	overflow: hidden;
	display: block;
	width: 290px;
	height: 290px;
}
.videoreplace {
	zoom: 120%;
}
@media (max-width: 700px) {
	#imageProfilContainer {
		border-right: 0px solid #e0ece4;
	}
	.image-profile {
		margin-left: 18vh;
		border-radius: 50%;
		object-fit: cover;
		max-width: 90px;
		min-height: 90px;
	}

	.headerTitle {
		margin-left: -105px;
		text-align: center;
	}
	.video {
		box-shadow: 1em 2em 5em 0.7em #111111;
		margin-left: 39%;
		width: 70px;
		height: 70px;
	}
	.contenedor {
		position: absolute;
		max-width: max-content;
		left: 3%;
		margin-top: 4%;
		margin-bottom: 0;
	}
	.videoreplace {
		object-fit: cover;
		max-width: 70px;
		min-height: 70px;
		margin-left: 0px;
		margin-top: 3px;
	}
	.contenedor h1 {
		font-size: 200%;
		margin-top: 75px;
		color: #e0ece4;
	}
}
@media (min-width: 700px) {
	.videoreplace {
		margin-left: -70px;
		margin-top: -20px;
	}
}
#title {
	margin-bottom: 0;
	color: #797a7e;
}

.btn-outline-success {
	color: #e0ece4;
	border: 1px solid #e0ece4;
}

#cards .card {
	min-height: 550px;
}
#cards .card img {
	width: auto;
	object-fit: cover;
	min-height: 280px;
	max-height: 280px;
}
.card-text {
	text-align: justify;
}
#cards a {
	display: inline-block;
	padding-top: 5px;
	position: absolute;
	right: 0px;
	bottom: 0px;
}
#experienceCarten {
	min-height: fit-content;
}
#experienceCarten #text {
	margin: 0;
}
.icons:hover {
	box-shadow: 0 0 0.5em 0.7em #e0ece4;
	max-height: 250px;
	min-height: 250px;
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
	filter: grayscale(0%);
	opacity: 1;
	transition: 0.3s;
}
.icons {
	box-shadow: 0 0 0.5em 0.1em white;
	max-height: 200px;
	min-height: 200px;
	object-fit: cover;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
	opacity: 0.6;
	transition: 0.3s;
}
#footer {
	min-height: auto;
	background-color: #fcf8e8;
}
#footer ul {
	display: inline-block;
	margin: 9px;
	padding-top: 5px;
	position: absolute;
	right: 0px;
}
#footer li {
	display: inline-block;
	margin: 2px;
}
#footer li a {
	color: #797a7e;
}

#footer #credits {
	font-family: "Montserrat", sans-serif;
	color: #797a7e;
}
#inputText {
	min-height: 70px;
}

/*
*/

/* Inline photos */

.inline-photo {
	box-shadow: 1em 1em 2em 0.25em rgba(0, 0, 0, 0.2);

	opacity: 0;
	/*from is take
	-webkit-transform: translateY(1em) rotateZ(-30deg);*/
	/*Start Point*/
	transform: translateY(20em) translatex(-30em) rotateZ(-30deg);

	-webkit-transition: opacity 2s 0.5s ease-out, -webkit-transform 3s 0.1s;

	transition: opacity 2s 0.5s ease-out, -webkit-transform 4s 0.25s;

	transition: transform 3s 0.25s, opacity 2s 0.5s ease-out;

	transition: transform 3s 0.25s, opacity 2s 0.5s ease-out,
		-webkit-transform 3s 0.25s;

	will-change: transform, opacity;
}

.inline-photo2 {
	box-shadow: 1em 1em 2em 0.25em rgba(0, 0, 0, 0.2);

	opacity: 0;
	/*from is take
	-webkit-transform: translateY(1em) rotateZ(-30deg);*/
	/*Start Point*/
	transform: translateY(-5em) translatex(30em) rotateZ(50deg);

	-webkit-transition: opacity 2s 1s ease-out, -webkit-transform 3s 0.1s;

	transition: opacity 2s 1s ease-out, -webkit-transform 4s 0.25s;

	transition: transform 3s 0.25s, opacity 2s 0.5s ease-out;

	transition: transform 3s 0.25s, opacity 2s 0.5s ease-out,
		-webkit-transform 3s 0.25s;

	will-change: transform, opacity;
}
.inline-photo3 {
	box-shadow: 1em 1em 2em 0.25em rgba(0, 0, 0, 0.2);

	opacity: 0;
	/*from is take
	-webkit-transform: translateY(1em) rotateZ(-30deg);*/
	/*Start Point*/
	transform: translateY(24em) translatex(-30em) rotateZ(15deg);

	-webkit-transition: opacity 2s 0.5s ease-out, -webkit-transform 3s 0.1s;

	transition: opacity 2s 0.5s ease-out, -webkit-transform 4s 0.25s;

	transition: transform 3s 0.25s, opacity 2s 0.5s ease-out;

	transition: transform 3s 0.25s, opacity 2s 0.5s ease-out,
		-webkit-transform 3s 0.25s;

	will-change: transform, opacity;
}

.inline-photo.is-visible {
	opacity: 1;
	transform: rotateZ(0deg);
}

.inline-photo2.is-visible {
	opacity: 1;
	transform: rotateZ(0deg);
}
.inline-photo3.is-visible {
	opacity: 1;
	transform: rotateZ(0deg);
}
