#nav {
	background-color: #fcf8e8;
	color: #797a7e;
}
.image-profile {
	margin-left: 13vh;
	border-radius: 50%;
	object-fit: cover;
	max-width: 50px;
	min-height: 50px;
}

#footerLetters {
	color: #e0ece4;
}

ul {
	margin-right: 13vh;
}
#imageProfilContainer {
	padding-right: 5px;
	border-right: 2px solid #e0ece4;
}
.headerTitle {
	margin-left: 5px;
	max-height: 60px;
}
.headerTitle h4 {
	max-height: 30px;
	margin-bottom: 0px;
	font-size: 30px;
}
.headerTitle h5 {
	max-height: 15px;
	font-size: 15px;
}

#imagesFront {
	min-height: 80vh;
}

.contenedor {
	position: absolute;
	max-width: max-content;
	left: 10%;
	margin-top: 27%;
	margin-bottom: 0;
}

.contenedor h1 {
	margin: 0;
	color: #e0ece4;
}

.video {
	margin-top: 8%;
	border-radius: 50%;
	object-fit: contain;
	border: 1px solid ivory;
	overflow: hidden;
	display: block;
	width: 250px;
	height: 250px;
}
@media (max-width: 700px) {
	.video {
		margin-left: 39%;
		width: 70px;
		height: 70px;
	}
	.contenedor {
		position: absolute;
		max-width: max-content;
		left: 3%;
		margin-top: 4%;
		margin-bottom: 0;
	}
	.videoreplace {
		object-fit: cover;
		max-width: 70px;
		min-height: 70px;
		margin-left: 0px;
		margin-top: 3px;
	}
	.contenedor h1 {
		margin-top: 75px;
		color: #e0ece4;
	}
}
@media (min-width: 700px) {
	.videoreplace {
		margin-left: -70px;
		margin-top: -20px;
	}
}
#title {
	margin-bottom: 0;
	color: #797a7e;
}

.btn-outline-success {
	color: #e0ece4;
	border: 1px solid #e0ece4;
}

#cards .card {
	min-height: 550px;
}
#cards a {
	display: inline-block;
	padding-top: 5px;
	position: absolute;
	right: 0px;
	bottom: 0px;
}
#footer {
	min-height: auto;
	background-color: #fcf8e8;
}
#footer ul {
	display: inline-block;
	margin: 9px;
	padding-top: 5px;
	position: absolute;
	right: 0px;
}
#footer li {
	display: inline-block;
	margin: 2px;
}
#footer li a {
	color: #797a7e;
}

#footer #credits {
	font-family: "Montserrat", sans-serif;
	color: #797a7e;
}
#inputText {
	min-height: 70px;
}
